@charset "utf-8";
body{	
	box-sizing:border-box;
	margin:0;
	padding:0;
	list-style-type:none;	 
	font-family:"Microsoft JhengHei",Arial, Helvetica, sans-serif;
}

.main {
    width:800px;
    height:700px;
	margin:auto;
	background: rgba(241, 247, 248, 0.925);      
}

.top{
     width:100%;
     height:80px;
     color:white;
     font-size:30px;
     line-height: 80px;
     text-align: center;
     background: rgba(170, 237, 253, 0.925); 
}

.footer{
    width:100%;
    height:80px;
    color:white;
    line-height: 80px;
    text-align: center; 
    background: rgba(170, 237, 253, 0.925); 
}

.middle {
     width:100%;
	 /* overflow:auto; */
	 height: calc(100% - 80px - 80px); 
	 /* background: rgba(241, 247, 248, 0.925);           */
}

.left {
     width:200px;
     height:100%;
	 float:left;
}

.right {
     width: calc(100% - 200px);
     height:100%;
	 float:left;
	 overflow:auto;    
}

.footer p{
	font-size:30px;
	font-weight: bold;
	color:orange;
	text-align: center;
}

.in{
	width:400px;
	height:200px;  
	margin:auto;
	color:#ccc;
	font-size:30px;
	text-align:center;
}   

table{  
	padding:10px;
	box-sizing: border-box; 
   }

   td{          
	   height:30px; 
	   margin:1px;
	   padding:1px ;
	   font-size:20px;
	   box-sizing: border-box;    
   }

   td:nth-child(1){
	   width:120px; 
	   text-align:right; 
   }

   td:nth-child(2){
	   text-align:left;
	   border-bottom: 1px solid #ddd; 
   }
   
   input{  
	   /* width:180px; */
	   width:300px;
	   height:30px;
	   border:none;  
	   font-size:20px;
	   padding:1px;
	   background: rgba(241, 247, 248, 0.925); 
   }

   h2{
	   padding:10px;
	   margin:auto;
	   color:#ccc;
	   text-align:center;
   }

   h3{
	  padding:5px;
	  margin:auto;
	  color:#ccc;
	  text-align:center;
  }

  h4{
	  padding:20px;	 
	  color:#000;
	  text-align:center;
  }

  input[type='button'],
  input[type='submit'],
  input[type='reset']{
	width:120px;  
    padding:0px;
	margin:5px;
	font-size:20px;
	cursor: pointer;
	border-radius: 10px;
	border:1px solid #ddd;
	background: rgba(241, 247, 248, 0.925);	
  }

  input[type='radio'],
  input[type='checkbox']{
    width: 20px;
    height: 15px;
    border: none;
    font-size: 20px;
    padding: 1px;
    background: rgba(241, 247, 248, 0.925);
}
 
 

/* CSS Document */
body
{
	padding:0px;
	margin:0px;
}
#cover
{
	width:100%;
	height:100%;
	position:fixed;
	z-index:5;
	background:rgba(51,51,51,0.4);
	top:0px;
	left:0px;
	overflow:auto;
}
#coverr
{
	width:80%;
	min-width:400px;
	max-width:800px;
	height:70%;
	min-height:300px;
	position:absolute;
	z-index:5;
	background:#ffffff;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	overflow:auto;
}